<!DOCTYPE html>
<html ng-app="quoteBook">
<head>
    <meta charset="utf-8">
    <title>mini-userProfiles</title>
    <link rel="stylesheet" href="styles.css"></link>
</head>
<body ng-controller="MainController">

<form class="add-quote" action="index.html" method="post">
  <input type="text" name="Quote" placeholder="Quote" ng-model="newQuote.text"/>
  <input type="text" name="Author" placeholder="Author" ng-model="newQuote.author"/>
  <button type="button" name="Add Quote" ng-click="addQuote(newQuote)">Add Quote</button>
</form>

<input type="text" ng-model="filterAuth.input" />
<select ng-model="filterAuth.select" ng-options="quote.author for quote in quotes" option(value="")>
  <option value=""></option>
</select>

<div class="quote-block" ng-repeat="quote in quotes | filter: filterAuth.input | filter: filterAuth.select">
  <div class="quote">"{{ quote.text }}""</div>
  <div class="author">{{ quote.author }}</div>
  <button type="button" name="removeQuote" ng-click="removeQuote(quote.id)">Remove</button>
</div>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
     <script src="app.js"></script>
     <script src="controller.js"></script>
     <script src="service.js"></script>

</body>
</html>
